{% extends 'base.html' %}

{% block title %}Criar Vaga{% endblock %}

{% block content %}
<div class="glitch-frame container mt-4">
		<h1>Criar Nova Vaga</h1>
		<form action="." method="post" onsubmit="handleFormSubmit(event)">
			{% csrf_token %}
			{{ form.as_p }}  <!-- Exibe todos os campos do formulário -->
			<button class="btn glass-btn" type="submit">Salvar Vaga</button>
			<button class="btn glass-btn" type="reset">Limpar</button>
			<button class="btn glass-btn" type="button" onclick="history.back()">Voltar</button>
		</form>
</div>
{% endblock %}